/* Обнуление */
@font-face {
    font-family: 'Impact', sans-serif;
    src: url(../fonts/Impact.woff2)
}

@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url(../fonts/RobotoCondensed-Bold.woff2)
}

@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url(../fonts/RobotoCondensed-Regular.woff2)
}

@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: url(../fonts/RobotoCondensed-Light.woff2)
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1.2;
    background: #fafafa;
    font-size: 14px;
    color: #040404;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

body {

}

button {
    background-color: inherit;
}

.big-container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;

}

.container {
    max-width: 920px;
    padding: 0 10px;
    margin: 0 auto;
}


/*------HEADER---------------------------------------------------------------*/

.header {
    padding-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #D8D4ca 0%, rgba(217, 217, 217, 0) 100%);
}

.menu__body {
    display: flex;
    justify-content: center;
    height: 72px


}

.menu-list {
    display: flex;
    gap: 0 20px;
    padding-top: 25px
}

.logo-img {
    height: 100%
}

@media (max-width: 768px) {
    .icon-menu {
        display: block;
        position: relative;
        width: 1.875rem;
        height: 1.125rem;
        cursor: pointer;
        z-index: 5;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: 0.125rem;
        background-color: #000;
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 0.0625rem);
    }

    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 0.0625rem);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        bottom: calc(50% - 0.0625rem);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        overflow: auto;
        background-color: #706458;
        padding: 10px 0.9375rem 3.125rem 0.9375rem;
        -webkit-transition: left 0.3s ease 0s;
        transition: left 0.3s ease 0s;
        z-index: 4;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 50px;
        left: -100%;
        top: 0;
        background-color: #706458;
    }

    .menu-open .menu__body {
        left: 0;
    }

    .menu-open .menu__body::before {
        left: 0;
    }

    .header__logo {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }


    .menu__list {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        color: #f3eee8;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: space-between;
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    .menu__item {
        border-bottom: 1px solid gray;
        width: 100%;
        text-align: center;
        padding: 50px 0
    }

    .menu__item::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        color: gray
    }

}


.promo {
    background-image: url(../img/promo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.promo__inner, .vote {
    font-family: Helvetica;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    line-height: 1
}

.title {
    font-weight: 400;
    font-size: 76px;
    font-family: Impact;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.subtitle {
    font-weight: 400;
    font-size: 48px;
    border-bottom: 1px solid #040404;
    margin-bottom: 10px;
    align-self: center
}

.subtitle span {
    display: block;
    font-size: 34px;
    color: #9F6b08;
    padding: 10px 0

}

.promo__text {
    font-size: 16px;
    color: #363636;
    margin-bottom: 10px
}


.promo__arrow {
    margin-top: auto;
    margin-bottom: 30px;
    align-self: center
}

.info {
    margin-bottom: 100px
}

.info__part {
    padding-top: 100px;
    display: flex;
    justify-content: space-between
}

.info__part_third {
    padding-top: 66px
}

.info__part_first {
    display: block
}

.info__title {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 300;
}

.info__part-textbox {
    display: flex;
    justify-content: space-between;
    gap: 0 20px
}

.info__text {
    flex-basis: 440px;


}

.info__text:not(:last-child) {

    margin-bottom: 30px

}

.info__part-img {
    object-fit: cover;
    width: 100%;
}

.info__content {
    flex-basis: 415px
}

.info__part_second .info__text {
    max-width: 352px;
}

.info__part_third .info__text {
    max-width: 377px;
}

@media (max-width: 992px) {
    .info__part_second {
        flex-direction: column;
    }


    .info__part_second .info__text {
        max-width: none
    }
}

.info__table {
    flex-basis: 449px;
    border-bottom: 1px solid #040404;
    position: relative;
    top: 20px
}

.info__table::before {
    content: '';
    border-top: 1px solid #040404;
    position: absolute;
    width: 100%;
    top: -20px
}

.info__table td {
    padding-bottom: 20px
}

.track {

    background-image: url(../img/track-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.track__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.track__title {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-transform: uppercase

}

.track__text {
    max-width: 435px
}


.track__img {
    margin: auto auto 90px auto;
    width: 100%;
}

.evo {
    font-size: 14px;
    margin-bottom: 100px
}

.evo-black {
    background: #363636;
    padding: 100px 0 50px;
    color: #ffffff

}

.evo-black__inner {
    position: relative
}

.evo-black__inner::before {
    content: '';
    background-image: url(../img/dec-1.svg);
    width: 185px;
    height: 213px;
    left: -130px;
    top: 210px;
    position: absolute;
}

.evo-black__inner::after {
    content: '';
    background-image: url(../img/dec-2.svg);
    width: 498px;
    height: 572px;
    left: -40px;
    top: 290px;
    position: absolute;
}

.evo-black__info {
    display: flex;
    justify-content: space-between
}

.evo-black__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    margin-right: 50px

}

.evo-black__infobox {

    flex-basis: 437px
}

.evo-black__text:not(:last-child) {
    margin-bottom: 30px;
    font-size: 14px;
}

.evo-black__img {
    display: block;
    margin: 170px auto 60px;
    position: relative;
    z-index: 1;
    width: 100%;
}


.evo__descr-list {
    display: flex;
    justify-content: center;
    gap: 0 48px
}

.evo__descr-list dd {
    text-transform: uppercase
}

.evo-white__inner {
    padding-top: 125px;
    position: relative;

}

.evo-white__inner::before {
    content: '';
    background-image: url(../img/dec-3.png);
    width: 274px;
    height: 257px;
    left: 360px;
    top: -40px;
    position: absolute;
}

.evo-white__inner::after {
    content: '';
    background-image: url(../img/dec-4.png);
    width: 324px;
    height: 311px;
    left: 600px;
    top: 115px;
    position: absolute;
}

@media (max-width: 992px) {
    .evo-white__inner::before {
        content: '';
        background-image: url(../img/dec-3.png);
        width: 274px;
        height: 257px;
        left: 300px;
        top: -40px;
        position: absolute;
    }

    .evo-white__inner::after {
        content: '';
        background-image: url(../img/dec-4.png);
        width: 324px;
        height: 311px;
        left: 500px;
        bottom: 0px;
        position: absolute;
    }
}

@media (max-width: 850px) {
    .evo-white__inner::before {
        display: none;
    }

    .evo-white__inner::after {
        display: none;
    }

    .track__text {
        max-width: none;
        margin-bottom: 50px;
    }

    .info__part_third {
        flex-direction: column;


    }

    .info__content {
        flex-basis: auto;
        margin-bottom: 50px;
    }

}

.evo-white__text {
    margin-bottom: 30px
}

.evo-white__text:first-child {
    max-width: 285px
}

.evo-white__text:nth-child(2) {
    max-width: 437px
}


.evo-white__text:nth-child(3) {
    max-width: 590px
}

.evo-white__video {
    margin-top: 100px;
    background-image: url(../img/evo-video.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.evo-white__video-link span {
    display: block;
    color: #ffffff;
}

.blog {
    margin: 0px 0px 100px 0px;

}

.blog__title {
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.blog__item-img {
    margin-bottom: 20px;
    width: 100%;

}

.blog__item-title {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
    min-height: 46px;

}


.blog__item-text {
    margin: 0px 0px 20px 0px;

}

.blog__item-link {
    font-size: 12px;
    color: #363636;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #9f6b08;


}

.blog__slider {
    position: relative;
    padding: 50px 0 0 0;

    margin: 0 0 100px 0;

}

.vote__slider {
    position: relative;
    padding: 100px 0 0 0;

    margin: 0 0 20px 0;

}

.blog__button, .vote__button {
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 50%
}

.vote__button {
    top: 50px;
}


.swiper-button-left {
    transform: translateX(-41px);
}

.swiper-button-right {
    transform: translateX(8px);
}

.blog__quote {
    display: flex;
    justify-content: space-between;
    gap: 0 20px
}

.blog__quote img {
    object-fit: cover
}

@media (max-width: 768px) {
    .blog__quote {
        flex-direction: column
    }
}

.block__quote-box {
    flex-basis: 434px;
}

. img {
    object-fit: cover
}

.blockquote {
    margin: 0px 0px 30px 0px;

}

.blockquote__name {
    font-weight: 700;
    margin: 0px 0px 10px 0px;

}

.blockquote__name span {
    display: block;
    font-size: 12px;
    color: #9f6b08;
    margin-bottom: 3px;
}

.blockquote__text {
    font-style: italic;
}

.footer {
    padding: 50px 0px;
    background: #363636;
    color: #ffffff
}


.footer__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 50px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 0 20px
}

.footer__info-item {
    margin-bottom: 40px;
}

.footer__info-item dt,
.footer__adress-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__info-item dd {
    margin-bottom: 10px;
}

.footer__top {
}

.footer__info {
}

.social-list {
    display: flex;
    gap: 0 20px;
    align-items: center;
}

.social-list__item {
}

.social-list__link {
}

.social-list__icon {
}

.footer__adress {
    flex-basis: 462px;
}


#map {
    height: 250px;
}

.footer__adress-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.footer__bottom {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-link {
}

.footer__logo {
}


.vote {
    padding-top: 150px;
}

.vote-block {
}

.vote-block__container {
    max-width: 900px;
    margin: 0 auto;
    gap: 100px


}

.vote-block__list:not(:last-child) {
    margin-bottom: 100px;

}

.vote-block__list li {

    text-align: start
}

.vote-block__list li:not(:last-child) {
    margin-bottom: 10px;
    text-align: start
}

.vote-block__item {

    display: flex;
    justify-content: center;
    gap: 50px
}

@media (max-width: 768px) {
    .vote-block__item {
        display: inline-block;
    }
.vote-block__list {
    margin-bottom: 20px;
}
}



.result {
    display: flex;

    gap: 30px;
    margin-bottom: 50px;

}

.result__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
    max-width: 100%;

}

.result__columns {
    display: flex;

    gap: 20px;

    align-items: flex-end;
}

.result__diagrams {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.result__diagram {
    width: 50px;
    -webkit-box-shadow: -10px -10px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: -10px -10px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: -10px -10px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.result__diagram_1 {
    display: block;
    width: 20px;

    background-color: red;

}

.result__diagram_2 {
    display: block;
    width: 20px;

    background-color: red;
}

.result__diagram_3 {
    display: block;
    width: 20px;

    background-color: red;
}

.nobr {
    display: block;
}

.vote-form {
    padding: 50px 10px;
}

.vote-form__container {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.question__title {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}

.question__list:not(:last-child) {
    margin-bottom: 50px;
    padding: 0;
}

.question__item {
    margin: 2px;
    padding: 10px;
    list-style-type: none;
    background-color: rgb(220, 215, 215);
}

/* для элемента input c type="radio" */
.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .radio */
.radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.radio + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: rgba(159, 106, 8, 0.467)
}

/* стили для активной радиокнопки (при нажатии на неё) */
.radio:not(:disabled):active + label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе */
.radio:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(159, 106, 8, 0.467);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.radio:focus:not(:checked) + label::before {
    border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.radio:checked + label::before {
    border-color: #9f6b08;
    background-color: #9f6b08;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.radio:disabled + label::before {
    background-color: #e9ecef;
}

.modal__button {
    background-color: transparent;
    border: 2px solid #9f6b08;;
    color: #000000;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 3px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.modal__button:hover {
    background-color: rgba(159, 106, 8, 0.467);
    color: #000;
}

.modal__button:focus-visible {
    outline-color: yellow;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    display: none;
    z-index: 10
}

.modal__main {
    position: relative;
    max-width: 700px;
    background-color: #fff;
    margin: auto;
    color: #000;
    border-radius: 16px;
    padding: 30px 60px 60px;
    cursor: default;
    z-index: 100
}

.modal__title {
    font-size: 60px;
    margin-bottom: 30px;
}

.modal__container {
    font-size: 30px;
    margin-bottom: 30px;
}

.modal__btn {
    background-color: red;
    color: #fff;
    font-size: 26px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    padding: 15px 30px;
}

.modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
}

.modal__close:focus-visible {
    outline-color: green;
}
